@media (max-width: 1000px) {
  .fi-film img {
    width: 200px;
    height: 250px;
  }

  /* css untuk body */
  .films {
    grid-template-columns: 180px 180px 180px;
    gap: 100px;
    row-gap: 1px;
  }
  .message-container {
    font-size: 15px;
  }
  .deskripsi {
    margin-right: 50px;
    width: 420px;
  }
  .nav__item {
    font-size: 15px;
  }
  .footer__nav {
    margin: auto;
  }
  .nav__title {
    font-size: 15px;
    margin-bottom: 10px;
  }
  .footer {
    padding: 20px;
  }
}

@media (max-width: 670px) {
  /* tinggi header */
  .header {
    top: 0;
    position: fixed;
    z-index: 10;
    opacity: 1;
    max-width: 670px;
    background-color: #0a0c0f;
    color: #fff;
    height: 150px;
    display: flex;
  }

  .search {
    /* padding: 0px 0px; */
    margin-top: 0px;
    margin-left: 0px;
    position: relative;
    display: none;
  }

  .detail-search {
    width: 50px;
    height: 36;
    /* border: none; */
    border-radius: 100%;
    padding: 10px;
    opacity: 0.75;
    display: none;
  }

  .icon-search {
    width: 120px;
    position: absolute;
    left: 0px;
    top: 5px;
    display: none;
  }
  /* .bulat { */
  /* color: aqua; */
  /* height: 50px; */
  /* width: 50px; */
  /* background-color: chartreuse; */
  /* display: block; */
  /* } */

  /* tinggi gambar dengan header */
  .container {
    margin-top: 150px;
  }
  .body {
    margin: 0 auto;
    /* width: 100px; */
    /* padding-left: 5%;
          padding-right: 5%; */
    /* padding-bottom: 80px; */
  }

  .top-img-wrapper {
    position: relative;
  }

  .caption {
    font-size: 18px;
    color: white;
    text-align: left;
    /* position: absolute; */
    /* padding-left: 0px; */
    /* margin-right: 1000 px; */
    display: block;
    top: 1px;
  }

  .caption h2,
  p {
    display: none;
    /* margin-top: 10px;
      margin-bottom: -100px; */
  }

  img {
    border-radius: 0;
  }

  /* rekomendasi film populer */
  .title h1 {
    font-size: 20px;
    text-align: center;
    font-weight: normal;
    /* margin-top: 0px; */
  }

  .films {
    grid-template-columns: 150px;
    /* gap: 0px; */
    row-gap: 7px;
    width: fit-content;
    margin: 0 80px;
  }

  .fi-film img {
    width: 200px;
    height: 250px;
  }

  /* css untuk body */
  .films {
    display: grid;
    grid-template-columns: 180px;
    gap: 100px;
    row-gap: 60px;
  }

  /* .deskripsi{
          width   : 400px;
          text-align: center;
          margin: auto
      } */
}
